<h1> Instruments </h1>

<form  method="GET">
    <input  id="instrld" type="text" name="instrld"  >
    <input id = "dname" type="text" name="dname">
    <input id = "key" type="text" name="key">
    <input id = "plays" type="text" name="plays">
    <input type="submit" value="Submit" />
</form>

<ul>

  {% for instrument in instruments %}
    {{instrument}}

       <a href="{% url "instruments_edit" instrument.instrld %}">Edit</a> -->
         <a href="{% url "instruments_delete" instrument.instrld  %}">Delete</a> -->

  {% endfor %}

</ul>
    <a href="{% url "instruments_new" %}">New Instrument</a> -->
