<h1> Lives </h1>

<form  method="GET">
  <p> SSN  <input  id="ssn" type="text" name="ssn"  > </p>
  <p> Phone   <input id = "phone" type="text" name="phone"> </p>
  <p> Address   <input id = "address" type="text" name="address"> </p>
    <input type="submit" value="Submit" />
</form>

<ul>

  {% for live in lives %}
    <ul>{{live}}

       <a href="{% url "lives_edit" live.urlify %}">Edit</a>
         <a href="{% url "lives_delete"  live.urlify %}">Delete</a></ul>

  {% endfor %}

</ul>
    <a href="{% url "lives_new" %}">New Lives</a>
