<h1> Musicians </h1>



<form  method="GET">

  <p> Name <input  id="name" type="text" name="name"  > </p>
<p> SSN  <input id = "ssn" type="text" name="ssn"> </p>
    <input type="submit" value="Submit" />
</form>

<ul>

  {% for musician in musicians %}
    <li>Name: {{ musician.name}}
      SSN: {{musician.ssn}}
    <a href="{% url "musicians_edit" musician.ssn %}">Edit</a>
    <a href="{% url "musicians_delete" musician.ssn  %}">Delete</a>
  </li>
  {% endfor %}

</ul>
<a href="{% url "musicians_new" %}">New Musician</a>
