
<nav class="navbar navbar-default " role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">Notown App</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{% url 'musicians_list' %}">Musicians</a>
                        </li>
                        <li>
                            <a href="{% url 'plays_list' %}">Plays</a>
                        </li>
                        <li>
                            <a href="{% url 'album_producers_list' %}">Album Producers</a>
                        </li>
                        <li>
                              <a href="{% url 'instruments_list' %}">Instruments</a>
                        </li>
                        <li>
                            <a href="{% url 'songappears_list' %}">Song Appears</a>
                        </li>
                        <li>
                            <a href="{% url 'performs_list' %}">Performs</a>
                        </li>
                        <li>
                            <a href="{% url 'places_list' %}">Places</a>
                        </li>
                        <li>
                              <a href="{% url 'telephone_homes_list' %}">Telephone</a>
                        </li>
                        <li>
                              <a href="{% url 'lives_list' %}">Lives</a>
                        </li>
                        <li>
                              <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                              <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
</nav>
