{% extends 'notownapp/base.html' %}
{% load bootstrap3 %}
{% block content %}
<h1> Plays </h1>

<form  method="GET">
    <p> SSN <input  id="ssn" type="text" name="ssn"  > </p>
    <p> Instrument ID <input id = "instrld" type="text" name="instrld"> </p<
    <input type="submit" value="Submit" />
</form>

<ul>

  {% for play in plays %}
    <ul>{{play}}

    <a href="{% url "plays_edit" play.urlify %}">Edit</a>
    <a href="{% url "plays_delete" play.urlify  %}">Delete</a></ul>
  {% endfor %}

</ul>
<a href="{% url "plays_new" %}">New Play</a>

{% endblock %}
