{% extends 'notownapp/base.html' %}
{% load bootstrap3 %}
{% block content %}
<h1> Album Producer List </h1>
<form  method="GET">
    <p> SSN <input  id="ssn" type="text" name="ssn"  > </p>
    <p> Album Identifier   <input id = "albumidentifier" type="text" name="albumidentifier"> </p>
  <p>Title  <input id = "title" type="text" name="title"> </p>
  <p> Speed  <input id = "speed" type="text" name="speed"> </p>
  <p> Copyright date  <input id = "copyrightdate" type="text" name="copyrightdate"> <p>
    <input type="submit" value="Submit" />
</form>


{% for producer in album_producers %}
  <li>{{ producer}}
  <a href="{% url "album_producers_edit" producer.albumident %}">Edit</a>
  <a href="{% url "album_producers_delete" producer.albumident  %}">Delete</a>


</li>
{% endfor %}

</ul>

  <a href="{% url "album_producers_new" %}">New Producer</a>

  {% endblock %}
