{% extends 'notownapp/base.html' %}
{% load bootstrap3 %}
{% block content %}
<h1> Telephones </h1>

<form  method="GET">
  <p> Phone  <input  id="phone" type="text" name="phone"  > </p>
    <p> Address  <input id = "address" type="text" name="address"> </p<
    <input type="submit" value="Submit" />
</form>

<ul>

  {% for telephone in telephonehomes %}
    <ul>{{telephone}}

       <a href="{% url "telephone_homes_edit" telephone.phone %}">Edit</a>
         <a href="{% url "telephone_homes_delete" telephone.phone %}">Delete</a></ul>

  {% endfor %}

</ul>
    <a href="{% url "telephone_homes_new" %}">New Telephone</a>

  {% endblock %}
